# Clean Code

# Daftar Pembahasan Materi
- Pedoman penulisan program python menggunakan PEP8
- Input, proses (pengolahan kolom), output file ke dalam program (csv dan excel)
- Python list functions | Fungsi - fungsi pada list python
- Pembahasan dan contoh program Stack (FIFO) sederhana
- Pembahasan dan contoh program Queue (LIFO) sederhana

## Input, Process, Output dataframe
- Membuat DataFrame manual -> export ke csv dan xlsx (excel)
- Latihan membuat DataFrame (Data 5 calon anggota koperasi sukanabung)

In [ ]:
import pandas as pd

In [ ]:
df1 = pd.DataFrame([
  ["Andien", "P", 21, "Belum Menikah"],
  ["Raka", "L", 25, "Belum Menikah"],
  ["Bobby", "L", 23, "Sudah Menikah"]
])

df1.columns = ["Nama", "Jenis Kelamin", "Usia", "Status"]

df1

     Nama Jenis Kelamin  Usia         Status
0  Andien             P    21  Belum Menikah
1    Raka             L    25  Belum Menikah
2   Bobby             L    23  Sudah Menikah

In [ ]:
df1.to_csv('anggota_koperasi_sukanabung.csv')
df1.to_excel('anggota_koperasi_sukanabung.xlsx')

## Fungsi - Fungsi List pada Python
- Quiz, studi kasus nyata

- Bahas tentang fungsi yg ada di list (struktur data) dulu
    - `append()`  # Menambahkan elemen di akhir list (hanya 1)
    - `extend()`  # Menambahkan banyak elemen di akhir list
    - `index()`   # Mencari index dari elemen tertentu yang ada di list
    - `max(list)` # Mencari elemen terbesar dari list
    - `min(list)` # Mencari elemen terkecil dari list
    - `len(list)` # Menghitung jumlah elemen dalam list
    - `clear()`   # Menghapus semua elemen dari list
    - `insert()`  # Memasukkan elemen baru pada urutan tertentu
    - `count()`   # Menghitung jumlah elemen dengan nilai tertentu
    - `pop()`     # Menghapus elemen terakhir dari list
    - `remove()`  # Menghapus elemen dengan nilai tertentu
    - `reverse()` # Membalik urutan elemen dalam list
    - `copy()`    # Menduplikat elemen dalam list ke dalam variabel baru
    - `sort()`    # Mengurutkan (sorting)

- TODO: Teori dan ilustrasi

In [ ]:
tumpukan_warna = ['Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam']

In [ ]:
# append, menambahkan nilai di akhir list (hanya 1 nilai saja)
tumpukan_warna.append('Jingga')
tumpukan_warna

['Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam', 'Jingga']

In [ ]:
# extend, menambahkan banyak elemen di akhir list
tumpukan_warna.extend(['Putih', 'Tosca'])
tumpukan_warna

['Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam', 'Jingga', 'Putih', 'Tosca']

In [ ]:
# index, mencari index dari nilai tertentu yang ada di list
tumpukan_warna.index('Hijau')

2

In [ ]:
# min, mencari nilai terkecil dari list
min(tumpukan_warna)

'Biru'

In [ ]:
# max, mencari nilai terbesar dari list
max(tumpukan_warna)

'Ungu'

In [ ]:
#sort, mengurutkan
tumpukan_warna.sort()
print(tumpukan_warna)

['Biru', 'Hijau', 'Hitam', 'Jingga', 'Merah', 'Putih', 'Tosca', 'Ungu']

In [ ]:
# clear, menghapus semua elemen dari list
tumpukan_warna.clear()
tumpukan_warna

[]

In [ ]:
tumpukan_warna = ['Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam']

In [ ]:
# len, menghitung jumlah elemen dalam list
len(tumpukan_warna)

5

In [ ]:
# insert, memasukkan elemen baru pada urutan tertentu
tumpukan_warna.insert(0, 'Orange')
tumpukan_warna

['Orange', 'Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam']

In [ ]:
# remove, menghapus elemen dengan nilai tertentu
tumpukan_warna.remove('Orange')
tumpukan_warna

['Biru', 'Merah', 'Hijau', 'Ungu', 'Hitam']

In [ ]:
# reverse, membalik urutan elemen dalam list
tumpukan_warna.reverse()
tumpukan_warna

['Hitam', 'Ungu', 'Hijau', 'Merah', 'Biru']

In [ ]:
# pop, menghapus elemen terakhir dari list
tumpukan_warna.pop()
tumpukan_warna

['Hitam', 'Ungu', 'Hijau', 'Merah']

In [ ]:
# count, menghitung jumlah elemen dengan nilai tertentu
tumpukan_warna.count('Hitam') # Coba ubah dengan nilai yang lain

1

In [ ]:
# copy, menduplikat elemen dalam list ke dalam variabel baru
tumpukan_warna2 = tumpukan_warna.copy()
tumpukan_warna2

['Hitam', 'Ungu', 'Hijau', 'Merah']

In [ ]:
# Perbedaan fungsi copy dan re-assignment 
a = [1,2,3]


# Isi b sama dengan a, tapi sebenarnya b hanya melakukan copy identitas objek a
b = a
c = a.copy()
# Apabila a[0] kita ubah, maka b[0] pun berubah
a[0] = 100

# Fungsi id() dapat digunakan untuk mengetahui identitas dari suatu objek
print("ID a:", id(b))
print("ID b:", id(a))
print("a:", a)
print("b:", b)

print("ID c:", id(c))
print("c:", c)

ID a: 1781257105792
ID b: 1781257105792
a: [100, 2, 3]
b: [100, 2, 3]
ID c: 1781257567680
c: [1, 2, 3]

## Stack (Tumpukan)

In [ ]:
angka = [1,3,5,3,3,5]

In [ ]:
# Stack -> First In Last Out
lemari = ["Sarung", "Celana Dasar", 
        "Kemeja Putih", "Selimut"]
lemari.append("Jaket Hoodie")
print(lemari)

['Sarung', 'Celana Dasar', 'Kemeja Putih', 'Selimut']

In [ ]:
# Stack -> First In Last Out
lemari = ["Sarung", "Celana Dasar"
          , "Kemeja Putih", "Selimut"
          , "Jaket Hoodie"
         ]

lemari.pop()
print(lemari)

['Sarung', 'Celana Dasar', 'Kemeja Putih', 'Selimut']

## Queue (read: qiu)
- TODO: Teori dan ilustrasi

In [ ]:
# Queue -> First in First Out
antrian_vaksin = ["Andy", "Bobby", 
                  "Caca", "Doni",
                  "Erna"
                 ]
antrian_vaksin.append("Fani")
print(antrian_vaksin)

['Andy', 'Bobby', 'Caca', 'Doni', 'Erna', 'Fani']

In [ ]:
antrian_vaksin = ["Andy", "Bobby", 
                  "Caca", "Doni",
                  "Erna", "Fani"
                 ]
antrian_vaksin.pop(0)
print(antrian_vaksin)

['Bobby', 'Caca', 'Doni', 'Erna', 'Fani']

# Activity
## 1. Code Refactoring
### 1.1 Ubah gaya penulisan kode program berikut sesuai dengan standar PEP8

In [ ]:
#program untuk menghitung luas dan keliling lingkaran
Pi = 3.14

def HitungLuasLingkaran(jari_jari):
    l = Pi * jari_jari**2
    return l

def HitungKelilingLingkaran(jari_jari):
    kllng = 2 * Pi * jari_jari
    return kllng

def tampilkan_menu():
    print('')
    print("----------------------------------------------------")
    print( 'Program untuk menghitung luas dan keliling lingkaran')
    print( 'Mau ngitung apa nih bre?')
    print( '1. Luas Lingkaran')
    print( '2. Keliling Lingkaran')
    print( '3. Stop Program')
    print('')


pil = 'bukan 3'
while pil != 3:
    tampilkan_menu()
    pil = input ('Pilihan:')

    if pil=='1':
        jari_jari = input('Jari Jari:')
        jari_jari = float(jari_jari)
        hasil = HitungLuasLingkaran(jari_jari)
        print("Luas Lingkaran:", hasil )

    elif pil== '2':
        jari_jari=input ('Jari Jari:')
        jari_jari=float (jari_jari)
        hsl=HitungKelilingLingkaran(jari_jari)
        print("Keliling Lingkaran:", hsl )

    elif pil=='3':
        print( "TERIMA KASIH SUDAH MENGGUNAKAN PROGRAM KAMI")
        break

    else:
        print('Pilihan tidak tersedia')
        tampilkan_menu ()

----------------------------------------------------
Program untuk menghitung luas dan keliling lingkaran
Mau ngitung apa nih bre?
1. Luas Lingkaran
2. Keliling Lingkaran
3. Stop Program

Pilihan:2
Jari Jari:34
Keliling Lingkaran: 213.52

----------------------------------------------------
Program untuk menghitung luas dan keliling lingkaran
Mau ngitung apa nih bre?
1. Luas Lingkaran
2. Keliling Lingkaran
3. Stop Program

Pilihan:1
Jari Jari:34
Luas Lingkaran: 3629.84

----------------------------------------------------
Program untuk menghitung luas dan keliling lingkaran
Mau ngitung apa nih bre?
1. Luas Lingkaran
2. Keliling Lingkaran
3. Stop Program

Pilihan:3
TERIMA KASIH SUDAH MENGGUNAKAN PROGRAM KAMI

### 1.2 Ubah gaya penulisan kode program berikut sesuai dengan standar PEP8

In [ ]:
# Main Layangan
# Requirement:
# - Gak Hujan
# - Kecepatan Angin 5 - 30 km/s

#Clues:
# - Naming variable dan function, whitespace, komentar
# - Terdapat kode duplikat, coba perbaiki

def main_layangan():
  hujan = input ("lagi ujan ga? (y/n)")
  if hujan =='y' or hujan== 'Y':
    hujan = True
  else:
    hujan =False

  kecepatan__angin = int( input ('masukkan kecepatan angin'))

  if hujan == True:
    print('Gak bisa main layangan')
    return False
  else:
    if kecepatan__angin >=5 and kecepatan__angin<= 30:
      print( 'Asiik, gass main layangan')
      return True
    else:
      print('Skip, mending main ep ep' )
      return False

capek = main_layangan()

if capek ==True:
  print("Istirahat" )
else:
  print ("Gass main ep ep")

lagi ujan ga? (y/n)y
masukkan kecepatan angin23
Gak bisa main layangan
Gass main ep ep

## 2. Memilih delegasi Tim Sudirman Cup dari Indonesia

Berikut adalah data nama pemain bulu tangkis Indonesia beserta medali yang sudah diraih selama 2020 - 2021:

In [ ]:
pemain_dan_medali = [[7, "Ginting"], [5, "Jonathan C."], [9," Hendra"], [9," Ahsan"], [8, "Markus"], [8, "Kevin"], [4, "Gregoria"], 
                     [6, "Praven"], [6, "Melati"], [7, "Greysia"], [7, "Apriani"], [5, "Putri"], [5, "Rian"], [5, "Fajar"]]

> Buatlah program seleksi pemain bulu tangkis untuk Tim Sudirman dengan menerapkan konsep `Clean Code`

In [ ]:
# Buat list baru dengan mengurutkan list diatas berdasarkan medali yang diraih dari yang paling banyak

sort_list = (sorted(pemain_dan_medali, reverse=True))
sort_list

[[9, ' Hendra'],
 [9, ' Ahsan'],
 [8, 'Markus'],
 [8, 'Kevin'],
 [7, 'Greysia'],
 [7, 'Ginting'],
 [7, 'Apriani'],
 [6, 'Praven'],
 [6, 'Melati'],
 [5, 'Rian'],
 [5, 'Putri'],
 [5, 'Jonathan C.'],
 [5, 'Fajar'],
 [4, 'Gregoria']]

In [ ]:
# Dengan looping, buatlah 2 list terpisah dari pemain dan juga medalinya, namun urutannya harus tetap sama dengan yang diatas
atlet, medali = zip(*sort_list)

for atlet, medali in zip(atlet, medali):
        print(f'atlet: {atlet}')
        print(f'medali: {medali}')

atlet: 9
medali:  Hendra
atlet: 9
medali:  Ahsan
atlet: 8
medali: Markus
atlet: 8
medali: Kevin
atlet: 7
medali: Greysia
atlet: 7
medali: Ginting
atlet: 7
medali: Apriani
atlet: 6
medali: Praven
atlet: 6
medali: Melati
atlet: 5
medali: Rian
atlet: 5
medali: Putri
atlet: 5
medali: Jonathan C.
atlet: 5
medali: Fajar
atlet: 4
medali: Gregoria

Misalkan Rio dan Dewi adalah pemain baru dengan perolehan medali : [2, "Rio"], [5, "Dewi"]. Jika maksimal 1 tim hanya 14 pemain, buatlah fungsi baru yang dapat memeriksa apakah Rio dan Dewi bisa menjadi pemain baru jika dibandingkan perolehan medalinya dengan squad tim saat ini. Output:

"Nama" layak/tidak layak bergabung
Tim Sudirman cup indonesia = "list pemain yg layak"

In [ ]:
# Bikin fungsinya disini
baru = [2, "Rio"],[5, "Dewi"]

sort_list.append(baru) 

sort_list

[[9, ' Hendra'],
 [9, ' Ahsan'],
 [8, 'Markus'],
 [8, 'Kevin'],
 [7, 'Greysia'],
 [7, 'Ginting'],
 [7, 'Apriani'],
 [6, 'Praven'],
 [6, 'Melati'],
 [5, 'Rian'],
 [5, 'Putri'],
 [5, 'Jonathan C.'],
 [5, 'Fajar'],
 [4, 'Gregoria'],
 [[2, 'Rio'], [5, 'Dewi']],
 [[2, 'Rio'], [5, 'Dewi']],
 ([2, 'Rio'], [5, 'Dewi']),
 [[2, 'Rio'], [5, 'Dewi']],
 ([2, 'Rio'], [5, 'Dewi']),
 ([2, 'Rio'], [5, 'Dewi']),
 ([2, 'Rio'], [5, 'Dewi'])]